# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
.venv/
.env/

# Distribuciones / paquetes
build/
dist/
*.egg-info/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de bases de datos
*.db
*.sqlite3

# Logs y archivos temporales
*.log
*.tmp
*.bak

# Archivos Python específicos
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
*.cover
.hypothesis/

# Archivos de sistema
.DS_Store
Thumbs.db